* {
  font-family: "Press Start 2P", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  background-color: #f4eef1;
}

.header {
  display: flex;
  flex-direction: column;

  margin: 5% 2% 5% 2%;

  text-align: center;
  font-size: 30px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);

  gap: 20px;
}

.footer {
  display: flex;
  flex-direction: column;

  margin: 5% 25% 5% 25%;

  text-align: center;
}

.restart-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  padding: 16px 32px;

  background-color: #4f43ae;
  border: 1px solid rgb(40, 40, 40);
  border-radius: 0%;

  color: #f6f4f5;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  transition:
    background-color 0.1s,
    border 0.1s;
}

.restart-button:hover {
  background-color: rgb(98, 82, 221);
  border: 1px solid rgb(80, 80, 80);
}

.restart-button:active {
  background-color: #251f53;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 120px;

  background-color: #fbd515;
  border: 1px solid rgb(40, 40, 40);
  border-radius: 5%;

  color: #fff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  overflow-wrap: anywhere;
  -webkit-text-stroke: 0.5px rgb(84, 84, 84);

  cursor: pointer;
  transition:
    background-color 0.1s,
    border 0.1s;

}

.card:hover {
  background-color: #ffdf3e;
  color: #eee;
}
.card:active {
  background-color: #dabc25;
}
.card.selected {
  border: 1px solid rgb(182, 182, 182);
}
