:root {
  --box: #fbd515;
  --box-hover: #ffdf3e;
  --box-active: #dabc25;
  --bg: #f4eef1;
  --button: #4f43ae;
  --button-hover: rgb(98, 82, 221);
  --button-active: #251f53;
  --border-default: rgb(40, 40, 40);
  --border-hover: rgb(80, 80, 80);
  --card-selected-border: rgb(182, 182, 182);
  --text-color: #000;
  --text-light: #f6f4f5;
  --text-light-hover: #eee;
  --stroke-color: rgb(84, 84, 84);
}

* {
  font-family: "Press Start 2P", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body[data-theme="dark"] {
  --bg: #1f1d1e;
  --text-color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  background-color: var(--bg);
  color: var(--text-color);
}

.header {
  display: flex;
  flex-direction: column;

  margin: 3% 2% 3% 2%;

  text-align: center;
  font-size: 30px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);

  gap: 20px;
}

.footer {
  display: flex;
  flex-direction: column;

  margin: 3% 25% 0% 25%;

  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  padding: 16px 32px;

  background-color: var(--button);
  border: 1px solid var(--border-default);
  border-radius: 0%;

  color: var(--text-light);
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  transition:
    background-color 0.1s,
    border 0.1s;
}

.button:hover {
  background-color: var(--button-hover);
  border: 1px solid var(--border-hover);
}

.button:active {
  background-color: var(--button-active);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 120px;

  background-color: var(--box);
  border: 1px solid var(--border-default);
  border-radius: 5%;

  color: var(--text-light);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  overflow-wrap: anywhere;
  -webkit-text-stroke: 0.5px var(--stroke-color);

  cursor: pointer;
  transition:
    background-color 0.1s,
    border 0.1s;
}

.card:hover {
  background-color: var(--box-hover);
  color: var(--text-light-hover);
}
.card:active {
  background-color: var(--box-active);
}
.card.selected {
  border: 1px solid var(--card-selected-border);
}
